*{
    margin:0;
    padding:0;
    /* box-sizing: border-box;  */
}

body{
    min-height: 15vh;
    display: grid;  
    font-size: 1rem;
    background-color: darkgreen;
    color:whitesmoke;
    max-width: 800px;
}

title{
    position: fixed;
    left:0;
    top: 0;
    font-size: 2rem;
}


nav {
    padding: 1rem; 
    color: whitesmoke;
    background-color: rgb(62, 168, 62);
    font-size: 2rem; 
    position: fixed;
    right:0;
    text-align: right;
}

nav a {
    color: whitesmoke;
}

/* main {
    flex-grow: 1;
    display: grid;
    place-content: center;
} */

footer{
    position: fixed;
    bottom: 0; /* Position at bottom of page */
    left: 0; /* Left of page */
}


h1{
    font-size: 4rem;
    margin-left:1rem;
    margin-top:1rem;
    margin-bottom: 2rem; 
}

p {
    text-align:left;
    margin:1rem;
    padding: auto; /* maybe this will help make nicer vertical spacing? */ 
}

a {  /* color of links */
    text-decoration: none;
    color: rgb(188, 241, 188);
}

a:hover { /* color of links when your cursor is on them */
    opacity: .85;
}

/*.banner { 
    display: block;
    width: 100%;
    max-width: 600px;
}*/

img{
    position: fixed;
    max-width: 100%;
    right: 6rem;
    top: 10rem;
}


/* settings for bullet-point list */
ul {
    list-style-type: disc; /* Default bullet style (can be changed) */
    padding-left: 20px;   /* Add some padding for better spacing */
    margin-left:1rem;
}
li {
    margin-bottom: 10px;  /* Add space between list items */
}
