*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    min-height: 15vh;
    display: grid;
    /* place-content: center;   (don't like this one) */ 
    font-size: 1rem;
    background-color: darkgreen;
    color:whitesmoke;
}

title{
    position: fixed;
    left:0;
    top: 0;
    font-size: 2rem;
}


nav {
    padding: 1rem; 
    color: whitesmoke;
    background-color: rgb(62, 168, 62);
    font-size: 2rem; 
    float: right;
    text-align: right;
}

nav a {
    color: whitesmoke;
}

main {
    flex-grow: 1;
    display: grid;
    place-content: center;
}

footer{
    position: fixed;
    bottom: 0; /* Position at bottom of page */
    left: 0; /* Left of page */
}


h1{
    font-size: 2rem;
    position: fixed;
    left:0;
    top:0;
}

p {
    text-align:left;
}

a {  /* color of links */
    text-decoration: none;
    color: #e3d026;
}

a:hover { /* color of links when your cursor is on them */
    opacity: .85;
}

/*.banner { 
    display: block;
    width: 100%;
    max-width: 600px;
}*/

img {
    max-width : 100%
}
