<!-- templates/base.html -->

<!DOCTYPE html>
{% load static %}
<html lang="en">
<link rel="stylesheet" href="{% static 'style.css' %}">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>  Porter Morgan  </title>
    
    <!-- can include a java script here -->
</head>
<body>
    <header>
        <nav>
            <a href={% url 'homepage' %}>Home </a>  | 
            <a href= {% url 'about' %}>About </a>  |  
            <a href={% url 'research' %}> Research </a>
        </nav>
    </header>
    
    {% block page_content %}
    <!-- Content from child templates goes here -->
    {% endblock page_content %}

    <footer>
        <p> Last updated:  </p>
    </footer>
</body>
</html>