<!-- templates/base.html -->

<!DOCTYPE html>
{% load static %}
<html lang="en">
<link rel="stylesheet" href="{% static 'css/style.css' %}">

<nav>
    <a href={% url 'homepage' %}>Home </a>
    <a href= {% url 'about' %}>About </a>
    <a href={% url 'research' %}> Research </a>
</nav>
<head>
    <meta charset="utf-8">
    <title>My Math Website </title>
    
    <!-- can include a java script here -->
</head>
<body>
    {% block page_title %}{% endblock page_title %}
    {% block page_content %}{% endblock page_content %}
</body>
</html>