<!-- templates/home.html -->

{% extends "base.html" %}
{% load static %}


{% block page_content %}
    <h1> Porter Morgan </h1>

    <p> I'm a fifth year Math PhD student at the University of Massachussets Amherst, advised by <a href = "https://people.math.umass.edu/~baykur/"> Inanc Baykur</a>. I study low-dimensional topology, specifically 4-manifolds. I'm interested in Lefschetz fibrations, nonorientable 4-manifolds, and exotic smooth structures. </p>

    <p>
        Here are a couple things I've been up to lately.
        <ul>
            <li> February 2025: Speaking at Louisiana State University's <a href="https://www.math.lsu.edu/calendar?selecttime=all_future&selectevent=All+seminars">Geometry and Topology Seminar</a> about my latest project on irreducible 4-manifolds with order two fundamental group. </li>
            <li> January 2025: Attending the <a href = "https://sites.google.com/view/gt-log-cabin-workshop/home" >log cabin workshop</a> about foliations on 3-manifolds in St George, Utah. Co-organizing a mini-course about the Thurston norm and fibered 3-manifolds for this workshop. </li>
            <li> July 2024: Speaking at the <a href = "https://icerm.brown.edu/program/topical_workshop/tw-24-braids" >Braids Reuinion Workshop</a> hosted by ICERM in Providence, Rhode Island. </li>
        </ul>
    </p>
        
    <img 
        src={% static 'website_pic.jpg' %}
        alt="Me, my mom, and our turkey"
        height = "500"
        width = "auto"
    >
    </img>

{% endblock page_content %}